<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">iTransition</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ user }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'profile' %}">View profile</a></li>
                        {% if request.user.is_superuser %}<li><a href="{% url 'admin:index' %}">Enter admin room</a></li>{% endif %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Account settings</li>
                        <li><a href="{% url 'settings' %}">Settings</a></li>
                        <li><a href="{% url 'auth_logout' %}">Sign out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'registration_register' %}">Sign up</a></li>
                <li><a href="{% url 'auth_login' %}">Sign in</a></li>
                {% endif %}
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>